
body {
    background-color: #f0f0f0; /* Blanco suave */
    color: #0c0c0c; /* Texto negro-gris oscuro */
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh; /* Para centrar el contenido verticalmente */
  }